
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
    p {
        font-family: "Habibi", sans-serif;
    }
    h1, h2,h3, h4 {
        font-family: "Irish Grover", sans-serif;
    }
    h1{
        font-size: 2.5em;
        margin: 0;
        text-shadow: 2px 2px 2px #000000;
    }
    h2 {
        font-size: 1.75em;
    }
    h3{
        text-align: center;
    }
    h3, p {
        font-size: 1.25em;
    }
    header, aside {
        background-color: #06A816;
        color: #ffffff;
    }
    body{
        background-color: #ffffff;
        margin: auto;
        min-width: 428px;
        color: #000000;
    }
    header{
        display: grid;
        text-align: center;
    }
    header p{
        margin: 10px 0;
        font-style: italic;
    }
    nav{
        width: 100%;
        background-color: #ffffff;
    }
    nav ul{
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }
    nav li{
        background-color: #E75D02;
        width: 50%;
        padding: 10px;
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 4px;
        margin: 5px;
    }
    nav a{
        text-decoration: none;
        color: white;
    }
    nav li:last-child{
        width: fit-content;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    main{
        width: 95%;
        margin: auto;
    }
    .food-pics{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .food-pics div {
        position: relative;
        width: 100%;
        margin: 0;
    }
    .food-pics img{
        display: block;
        width: 75%;
        margin: auto;
    }
    .food-pics p{
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 10px; 
        text-align: center;
        background-color: rgba(0,0,0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    aside{
        background-color: #06A816;
        text-align: center;
        padding: 15px 0 5px;
    }
    aside div{
        width: 50%;
        margin: auto;
        margin-top: 0;
    }

    footer{
        color: #06A816;
        margin: 5px 0 10px;
    }
    footer p{
        width: fit-content;
        margin: auto;
    }



/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:834px){
    #header{
        display: flex;
        justify-content: space-between;
        padding: 12px;
    }
    nav ul{
        justify-content: space-around;
    }
    nav li{
        width: 35%;
    }
    .food-pics{
        grid-template-columns: repeat(2, 1fr);
    }
    aside{
        display: flex;
    }
}


/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 1200px){
    header{
        display: flex;
        justify-content: space-between;
    }
    #header{
        display: grid;
        text-align: start;
    }
    nav{
        width: 50%;
        background-color: #06A816;
    }
    nav li{
        width: 45%;
    }
    .food-pics{
        grid-template-columns: repeat(3,1fr);
    }
    aside div{
        display: flex;
        justify-content: space-around;
    }
}


/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1440px){
    nav ul{
        justify-content: space-around;
    }
    nav li{
        width: 35%;
    }
    .food-pics{
        grid-template-columns: repeat(4, 1fr);
    }
}